<?xml version="1.0" encoding="UTF-8"?>
<settings
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
  xmlns="http://maven.apache.org/SETTINGS/1.2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>{{OSS_USERNAME_PLACEHOLDER}}</username>
      <password>{{OSS_PASSWORD_PLACEHOLDER}}</password>
      <id>artifactory-releases</id>
    </server>
    <server>
      <username>{{OSS_USERNAME_PLACEHOLDER}}</username>
      <password>{{OSS_PASSWORD_PLACEHOLDER}}</password>
      <id>artifactory-snapshots</id>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <id>artifactory-releases</id>
      <mirrorOf>central</mirrorOf>
      <name>central</name>
      <url>{{ARTIFACTORY_OSS_BASE_URL}}/libs-release</url>
      <blocked>false</blocked>
    </mirror>
    <mirror>
      <id>artifactory-snapshots</id>
      <mirrorOf>snapshots</mirrorOf>
      <name>snapshots</name>
      <url>{{ARTIFACTORY_OSS_BASE_URL}}/libs-snapshot</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>maven-central</id>
          <name>maven-central</name>
          <url>https://repo1.maven.org/maven2/</url>
        </repository>
        <repository>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>artifactory-releases</id>
          <name>libs-release</name>
          <url>{{ARTIFACTORY_OSS_BASE_URL}}/libs-release</url>
        </repository>
        <repository>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>artifactory-snapshots</id>
          <name>libs-snapshot</name>
          <url>{{ARTIFACTORY_OSS_BASE_URL}}/libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>maven-central</id>
          <name>maven-central</name>
          <url>https://repo1.maven.org/maven2/</url>
        </pluginRepository>
        <pluginRepository>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>artifactory-releases</id>
          <name>libs-release</name>
          <url>{{ARTIFACTORY_OSS_BASE_URL}}/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
            <checksumPolicy>fail</checksumPolicy>
          </snapshots>
          <id>artifactory-snapshots</id>
          <name>libs-snapshot</name>
          <url>{{ARTIFACTORY_OSS_BASE_URL}}/libs-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <properties>
        <altSnapshotDeploymentRepository>
          artifactory-snapshots::{{ARTIFACTORY_OSS_BASE_URL}}/libs-snapshot</altSnapshotDeploymentRepository>
        <altReleaseDeploymentRepository>
          artifactory-releases::{{ARTIFACTORY_OSS_BASE_URL}}/libs-release</altReleaseDeploymentRepository>
      </properties>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>